/**
 * ED20200326
 * Feuille de styles pour CoopEShop mode Admin
 */

h3.alert {
	border-left: 3px solid orange;
	color: darkorange;
	padding-left: 1em;
}
h3.error {
	border-left: 3px solid red;
	color: darkred;
	padding-left: 1em;
}
h3.info {
	border-left: 3px solid blue;
	padding-left: 1em;
}

.edv-metabox-row > label {
	min-width: 12em;
	display: inline-block;
	vertical-align: top;
	margin-top: 8px;
}
.edv-metabox-row > input, 
.edv-metabox-row > textarea {
	width: 25em;
	display: inline-block;
}
.edv-metabox-row.side-box > input, 
.edv-metabox-row.side-box > textarea {
	width: 12em;
}
.edv-metabox-row > input[type="number"] {
	width: 5em;	
}
.edv-metabox-row > input[type="date"] {
	width: 10em;	
}
.edv-metabox-row > input[placeholder="hh:mm"] {
	width: 5em;	
}
.edv-metabox-row.is_not_admin.admin_only {
	display: none;
}

.edv-metabox-row.edv-metabox-subfields {
	display: inline;
	margin-left: 1em;
}

.edv-metabox-row.description > label {
	margin-top: 2px;
}

.edv-metabox-row #ev-codesecret {
	border: none;
	width: 10em;
	color: #333333;  
	background-color: transparent;
	margin-top: 6px;
}

/* as other inputs */
input[type="gps"] {
	padding: 0 8px;
	line-height: 2;
	min-height: 30px;
    box-shadow: 0 0 0 transparent;
    border-radius: 4px;
    border: 1px solid #7e8993;
}

img.coo-favicon {
	width: 16px;
	height: 16px;
	margin-right: 4px;
}

.import-report {
	background-color: #f7f7f7;
	border-color: #9fa4a6;
	border-style: solid;
	padding: 1em;
}
.import-report > span {
	font-weight: bold;
}
.import-report li {
	margin-top: 1em;
}

#wpbody-content .revisions .hide-children > * {
	display: none;
}

#dashboard-widgets-wrap hr {
	border-top: 1px solid #b1b1d1;
	border-bottom: 1px solid #b3f6f6;
}

#dashboard-widgets-wrap .dashboard-edvmaillogs table {
	width: 100%;
}
#dashboard-widgets-wrap .dashboard-edvmaillogs table td {
	width: 30%;
}
#dashboard-widgets-wrap .dashboard-edvmaillogs .entry-title {
	font-weight: bold;
}

#the-list .type-edpost.status-pending td.column-titre,
#the-list .type-edpost.status-pending td.column-date {
	color: #975d17;
}

#the-list .type-edpost.status-draft td.column-titre,
#the-list .type-edpost.status-draft td.column-date {
	color: darkred;
}



/*toggle shortcode*/
.toggle-trigger {
	cursor: pointer;
	margin: 0px !important;
}
.toggle-trigger:not(.dashicons-before) {
	background-color: #F5F5F5;
	background-image: url('../../public/images/toggle-plus.png');
	background-position: 10px center;
	background-repeat: no-repeat;
}
body.colors-dark .toggle-trigger {
	background-color: #252525;
}

.toggle-trigger a {
	color: #333;
	text-decoration: none;
	display: block;
}
body.colors-dark .toggle-trigger a {
	color: #CCC;
}
.toggle-trigger.dashicons-before a {
	display: inline-block;
}

.toggle-trigger a:hover {
	color: #0489B7;
	text-decoration: none;
}
body.colors-dark .toggle-trigger a:hover {
	color: #FA7628;
}
.toggle-trigger .wpcf7-spinner {
	float: right;
}

.toggle-trigger.active{
	background-image: url('../../public/images/toggle-minus.png') !important;
	background-repeat: no-repeat;
}

.toggle-container {
	/* display: none; TODO hide on load before jQuery */
	display: none;
	overflow: hidden;
	padding: 10px 10px;
}
.toggle-trigger.active + .toggle-container {
	display: block;
}
/*
 *******/
 
 
